::selection {
  color: white;
  background: black;
}

html {
  width: 250px;
}

hr {
  background-color: rgb(199, 199, 199);
  height: 1px;
  border: 0;
}

body {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 0px;
  border-right: 0px;
}

footer {
  margin: auto;
  width: 90%;
  text-align: right;
}

.button-red {
  background-color: #bf2004;
}

.button-red:hover {
  background-color: #6b190a;
}

.button-green {
  background-color: #1aaa07;
}

.button-green:hover {
  background-color: #137706;
}

.button-yellow {
  background-color: #f8d050;
}

.button-yellow:hover {
  background-color: #c8a040;
}

.button-black {
  background-color: #333333;
}

.button-black:hover {
  background-color: #0c0c0c;
}

.button {
  border: 1px solid #616161;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 7px;
}

.container {
  margin: auto;
  width: 90%;
}

#title {
  text-align: left;
  color: #bf2004;
}

#dynamicPart {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokemonName {
  display: inline-block;
  width: 55% !important;
}

.pokemonLevel {
  display: inline-block;
  width: 40% !important; 
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px 12px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  transition: 0.3s;
}

.text-box-red:focus {
  outline: none !important;
  border: 1px solid #bf2004;
}

.text-box-green:focus {
  outline: none !important;
  border: 1px solid #1aaa07;
}

.text-box-yellow:focus {
  outline: none !important;
  border: 1px solid #f8d050;
}